<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cochange Dependency Graph</title>
    <script type="text/javascript" th:src="@{/js/import/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/jquery.treeview.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/popper-1.14.7.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/jquery-1.12.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-panzoom.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-navigator.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-hierarchical.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/layout-base-1.0.2.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cose-base-1.0.2.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-cose-bilkent-4.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-undo-red-1.3.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-expand-collapse.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/dagre.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-dagre.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/klay.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-klay.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-3.3.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-multiselect-0.9.15.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/ztree/jquery.ztree.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/echarts-4.7.0/dist/echarts.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/js/import/d3.js}"></script>-->
    <!--    <script type="text/javascript" th:src="@{/js/import/d3-hsv.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/windowUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/cytoscapeutils.js}"></script>
    <script type="text/javascript" th:src="@{/js/ar/ar.js}"></script>
    <script type="text/javascript" th:src="@{/js/import/d3.v3.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-multiselect-0.9.15.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-treeview.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/cytoscape.js-panzoom.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/cytoscape.js-navigator.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/jquery.jqplot.css}"></link>
    <link rel="stylesheet" th:href="@{/css/import/ztree/zTreeStyle/zTreeStyle.css}"></link>
    <link rel="stylesheet" th:href="@{/css/ar.css}"></link>
</head>
<body>
<div id="cochange_depend_graph">
    <!--<script>window.jQuery || document.write('<script src="./jquery-1.12.0.min.js"><\/script>')</script>-->
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        $(document).ready(function() {
            cochangeDependGraph();
        });
        // ]]>
    </script>
</div>
</body>
</html>