<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>首页</title>
<script type="text/javascript" th:src="@{/js/import/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/jquery.treeview.js}"></script>
<script type="text/javascript" th:src="@{/js/import/popper-1.14.7.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-panzoom.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-navigator.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-hierarchical.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/layout-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cose-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-cose-bilkent-4.1.0.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-undo-red-1.3.3.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-expand-collapse.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/dagre.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-dagre.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-3.3.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-multiselect-0.9.15.js}"></script>
<script type="text/javascript" th:src="@{/js/import/ztree/jquery.ztree.all.js}"></script>
<script type="text/javascript" th:src="@{/js/cytoscapeutils.js}"></script>
<script type="text/javascript" th:src="@{/js/multiple.js}"></script>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-multiselect-0.9.15.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-treeview.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-panzoom.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-navigator.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/ztree/zTreeStyle/zTreeStyle.css}"></link>
<style type="text/css">
.div_cytoscape_content {
	height: 800px;
	width: 1500px;
	border: 1px solid #000;
	margin-bottom: 5px;
}
</style>
</head>
<body>
	<div th:include="nav.html::nav"></div>

	<div class="container-lg col-sm-12 row" style="margin-bottom: 15px;">
		<!-- <div class="col-sm-3">
			<div id="tree"></div>
		</div> -->
		<div class="col-sm-12">
			<div id="content">
				<div class="form-group col-sm-12 row">
					<div class="col-sm-6 row">
						<div class="col-sm-3">
							<label>项目选择：</label>
						</div>
						<div class="col-sm-9">
							<select id="project_select" >
								<option th:each="project:${projects}" th:value="${project.id}" 
									th:text="${project.name + ' ( ' + project.language + ' ) '}"> </option>
							</select>
						</div>
					</div>
				</div>			
				<div class="form-group col-sm-12 row">
					<div class="col-sm-6 row">
						<div class="col-sm-3">
							<label>依赖类型：</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="dependency" value="static" />&nbsp;&nbsp;静态</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="dependency" value="dynamic" />&nbsp;&nbsp;动态</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="dependency" value="all" />&nbsp;&nbsp;all</label>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 row">
					<div class="col-sm-6 row">
						<div class="col-sm-3">
							<label>级别：</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="level" value="directory" />&nbsp;&nbsp;目录</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="level" value="file" />&nbsp;&nbsp;文件</label>
						</div>
						<div class="col-sm-3">
							<label><input type="radio" name="level" value="all" />&nbsp;&nbsp;all</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-7 row">
						<div class="col-sm-4">
							<button class="btn btn-default" id="search">查询</button>
							<button id="showImg" type="button" class="btn btn-default">保存图片</button>
							<button id="clearMemo" type="button" class="btn btn-default">&nbsp;&nbsp;刷新&nbsp;&nbsp;</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12 row" >
					<ul id="treeDemo" class="ztree"></ul>
				</div>
				<div class="col-sm-12 row" style="margin-top:15px;">
					<div>
						<div id="graph" class="div_cytoscape_content cy"></div>
					</div>
				</div>
				<div><img id="entry-png-eg" /></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
		$(document).ready(function() {
			var ztree = [[${ztree}]];
			multiple(cytoscapeutil(), ztree).init();
		});
	// ]]>
	</script>
</body>
</html>