<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Issue</title>
<script type="text/javascript" th:src="@{/js/import/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/jquery.treeview.js}"></script>
<script type="text/javascript" th:src="@{/js/import/popper-1.14.7.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/jquery-1.12.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/d3.v3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-panzoom.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-navigator.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-hierarchical.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/layout-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cose-base-1.0.2.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-cose-bilkent-4.1.0.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-undo-red-1.3.3.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/expand-collapse/cytoscape-expand-collapse.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/dagre.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-dagre.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/cytoscape.js-3.13.1/cytoscape-klay.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-3.3.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/import/bootstrap/bootstrap-multiselect-0.9.15.js}"></script>
<script type="text/javascript" th:src="@{/js/import/ztree/jquery.ztree.all.js}"></script>
<script type="text/javascript" th:src="@{/js/import/echarts-4.7.0/dist/echarts.js}"></script>
<script type="text/javascript" th:src="@{/js/windowUtil.js}"></script>
<script type="text/javascript" th:src="@{/js/cytoscapeutils.js}"></script>
<script type="text/javascript" th:src="@{/js/history/issue.js}"></script>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-3.3.2.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-multiselect-0.9.15.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/bootstrap/bootstrap-treeview.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-panzoom.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/cytoscape.js-navigator.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/jquery.jqplot.css}"></link>
<link rel="stylesheet" th:href="@{/css/import/ztree/zTreeStyle/zTreeStyle.css}"></link>
<link rel="stylesheet" th:href="@{/css/circlechart.css}"></link>
<style type="text/css">
.div_cytoscape_div{
	background-color: #ffffff;
}
.div_cytoscape {
	width: 83%;
	height: 500px;
	margin-bottom: 5px;
}
.div_cytoscape_content {
	width: 100%;
	height: 500px;
	border: 1px solid #000;
}
.div_cytoscape_treeview {
	padding: 5px;
	width: 17%; 
	float: left; 
	display: inline; 
	overflow: scroll;
	border-left: 1px solid #000;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	height: 500px;
}
</style>	
</head>
<body>
	<div th:include="nav.html::nav"></div>
	<div class="col-sm-12 row" style="margin-bottom: 15px;">
		<div class="col-sm-12">
			<div id="issueDiv">
				<h4>Issue: <span th:text="${issue.issueKey}"></span></h4>
				<table class="table">
					<tr>
						<td align="right" width="10%"><b>id：</b></td>
						<td th:text="${issue.id}"></td>
					</tr>
					<tr>
						<td align="right"><b>issueKey：</b></td>
						<td th:text="${issue.issueKey}"></td>
					</tr>
					<tr>
						<td align="right"><b>type：</b></td>
						<td th:text="${issue.type}"></td>
					</tr>
					<tr>
						<td align="right"><b>title：</b></td>
						<td th:text="${issue.title}"></td>
					</tr>
					<tr>
						<td align="right"><b>description：</b></td>
						<td th:text="${issue.description}"></td>
					</tr>
					<tr>
						<td align="right"><b>status：</b></td>
						<td th:text="${issue.status}"></td>
					</tr>
					<tr>
						<td align="right"><b>resolution：</b></td>
						<td th:text="${issue.resolution}"></td>
					</tr>
					<tr>
						<td align="right"><b>priority：</b></td>
						<td th:text="${issue.priority}"></td>
					</tr>
					<tr>
						<td align="right"><b>commitLinkUrl：</b></td>
						<td th:text="${issue.commitLinkUrl}"></td>
					</tr>
					<tr>
						<td align="right"><b>reporter：</b></td>
						<td th:text="${issue.reporter}"></td>
					</tr>
					<tr>
						<td align="right"><b>createTime：</b></td>
						<td th:text="${issue.createTime}"></td>
					</tr>
					<tr>
						<td align="right"><b>updateTime：</b></td>
						<td th:text="${issue.updateTime}"></td>
					</tr>
					<tr>
						<td align="right"><b>closeTime：</b></td>
						<td th:text="${issue.updateTime}"></td>
					</tr>

				</table>
			</div>
			<div>
				<h4>related commits: </h4>
				<div id="commit_content">
				</div>
			</div>
			<div>
				<h4>related files: </h4>			
				<div id="file_content">
					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		 $(document).ready(function() {
			 issue([[${issue}]].id, cytoscapeutil()).init();
		});
		// ]]>
	</script>
<!--	<script type="text/javascript" th:src="@{/js/circlechart.js}"></script>-->
</body>
</html>